
h1 {
    font-size: 32px;
    text-align: center;
}

button {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    padding: 1.5rem;  
        
}

nav {
    padding: 1rem;
}

/* .clicks1, .clicks2 { */
    /* font-size: 25px; */
/* } */

main.display {
    display: flex;
    flex-wrap: wrap;
    
}
.dragon-container  {
    display: flex;  
    justify-content: center; 
    margin: 3rem auto;
    text-align: center;
    width: 250px;
    padding: 1rem;
        
}

.fire {
    background-color: rgb(211, 11, 11);
}

.Earth {
    background-color: rgb(71, 143, 71);
}


 