button {
    font-size: 3rem;
    color: rgb(15, 7, 7);
    border: 4mm ridge;
    padding: 1.5rem; 
    text-transform: capitalize;
        
}

h1 {
    font-size: 32px;
    text-align: center;
}

nav {
    padding: 1rem;
}   

main.display {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.dragon-container  {
    text-align: center;
    width: 250px;
    color: rgb(177, 173, 173);
    padding: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 1rem;
        
}

.fire {
    background-color: rgb(211, 11, 11);
}
.water {
    background-color: rgba(16, 19, 238, 0.897);
}
.earth {
    background-color: rgb(78, 48, 35)
}
.air {
    background-color: rgb(143, 222, 236);
}
.ether {
    background-color: rgb(25, 25, 26);
}
.tree {
    background-color: rgb(17, 62, 17);
}

progress {
    max-width: 100%;
    height: 2rem;
    overflow: hidden;
    border-radius: 2rem;
    transition: all 250ms;
  }
  progress::-webkit-progress-bar {
    background-color: firebrick;
  }
  progress::-webkit-progress-value {
    background-color: seagreen;
    border-radius: 2rem;
    border: 1px solid white;
  }
  progress::-moz-progress-bar {
    background-color: firebrick;
    border-radius: 2rem;
  }
  
  aside {
    background-color: lightgray;
    padding: 0.5rem;
  }

  .inventory-container {
    display: flex;
    justify-content: space-between;
    
  }

  /* .inventory { */
    /* background-color: silver; */
    /* padding: 1rem; */
  /* } */